APP_MODE=dev

DB_USER=
DB_PASS=
DB_HOST=
DB_NAME=
DB_PORT=
DB_SSLMODE=require

JWT_SECRET=
GOLANG_PORT=8888
APP_ENV=localhost

PRINT_ROUTES=false

STORAGE_PATH=./uploads
UPLOAD_MAX_BYTES=10485760
UPLOAD_ALLOWED_MIME_TYPES=image/png,image/jpeg,application/pdf
